{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
Cadastro de Turma
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block topo %}
<br>
<br>
{% endblock %}

{% block topo2 %}
{% endblock %}
<section id="contact" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Criar uma turma</h2>
        <div class="list">
          <h4>Criação da Turma</h4>
    <p style="font-style: italic">Tela somente para preenchimento de formulario CREATE</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="js/scrolling-nav.js"></script>

</body>

</html>
