{% extends "list.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block lista %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Turma</th>
      <th>Professor</th>
      <th>Dia da Semana</th>
      <th>Local</th>
      <th>Horario</th>
      <th class="center">Opções</th>
    </tr>
  </thead>
  <tbody>
{% for materia in object_list %}
    <td>{{ materia.nome }}</td>
    <td>{{ materia.turma }}</td>
    <td>{{ materia.professor }}</td>
    <td>{{ materia.dia }}</td>
    <td>{{ materia.local }}</td>
    <td>{{ materia.horario_inicio }} ~ {{ materia.horario_fim }}</td>
    <td class="center">
        <a href="{% url 'atualizar_materia' pk=materia.id %}" class="">
          <i class="fa fa-edit" aria-hidden></i>
        </a>
        <a href="{% url 'deletar_materia' pk=materia.id %}">
            <i class="fa fa-remove" aria-hidden></i>
        </a>
      </td>
    </tr>
{% empty %}
    <tr>
      <td colspan="4">Nenhum registro encontrado!</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
