{% extends "list.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block lista %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th class="center">Opções</th>
    </tr>
  </thead>
  <tbody>
{% for professor in object_list %}
    <td>{{ professor.nome }}</td>
    <td>{{ professor.email }}</td>
    <td class="center">
        <a href="{{professor.id}}" class="">
          <i class="fa fa-edit" aria-hidden></i>
        </a>
      </td>
    </tr>
{% empty %}
    <tr>
      <td colspan="4">Nenhum registro encontrado!</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
