{% extends "list.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block lista %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Alunos</th>
      <th>Representante</th>
      <th>Colegio</th>
      <th>Data de Cadastro</th>
      <th class="center">Opções</th>
    </tr>
  </thead>
  <tbody>
{% for turma in object_list %}
    <td>{{ turma.nome }}</td>
    <td>
        {{ turma.alunos }}
    </td>
    <td>{{ turma.representante }}</td>
    <td>{{ turma.colegio }}</td>
    <td>{{ turma.data_cadastro }}</td>
    <td class="center">
        <a href="{% url 'atualizar_turma' pk=turma.id %}" class="">
          <i class="fa fa-edit" aria-hidden></i>
        </a>
        <a href="">
            <i class="fa fa-remove" aria-hidden></i>
        </a>
      </td>
    </tr>
{% empty %}
    <tr>
      <td colspan="4">Nenhum registro encontrado!</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}