{% extends "list.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block lista %}
<!-- laço para as turmas em que o usuario É representante -->
<a class="nav-link" href="{% url 'cadastrar_turma' %}">
              Cadastrar uma Turma
            </a>
<div class="list-group">
    {% for turma in object_list %}



    <a href="{% url 'detail_turma' pk=turma.id %}" class="list-group-item list-group-item-action flex-column align-items-start{% if turma.representante == request.user %} list-group-item-dark{% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{turma.nome}}</h5>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <h7 class="mb-1">{{ turma.colegio }}</h7>
            <small class="mb-1"><i class="fa fa-user" aria-hidden="true"></i> {{turma.representante.first_name}} {{turma.representante.last_name}} ({{turma.representante.username}}) </small>

        </div>
        {% if turma.representante == request.user %}
        <a href="{% url 'atualizar_turma' pk=turma.id %}" class="badge badge-dark badgel-pill"> <i class="fa fa-edit" aria-hidden></i></a>
        {% endif %}
    </a>
    {% empty %}
    <tr>
        <td colspan="4">Nenhum registro encontrado!</td>
    </tr>
    {% endfor %}
</div>
{% endblock %}