{% extends "list.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block lista %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Representante</th>
        <th>Colegio</th>
        <th>Data de Cadastro</th>
        <th class="center">Opções</th>
    </tr>
    </thead>
    <tbody>

    <!-- laço para as turmas em que o usuario É representante -->
    {% for turma in object_list %}

    <tr class="{% if turma.representante == request.user %}table-primary{% endif %}">
        <td>{{ turma.nome }}</td>
        <td>{{ turma.representante }}</td>
        <td>{{ turma.colegio }}</td>
        <td>{{ turma.data_cadastro }}</td>
        <td class="center">


            <a href="{% url 'detail_turma' pk=turma.id %}" class="">
                <i class="fa fa-search" aria-hidden></i>
            </a>
            <a href="{% url 'atualizar_turma' pk=turma.id %}" class="">
                <i class="fa fa-cog" aria-hidden></i>
                </a>
        </td>
    </tr>


    {% empty %}
    <tr>
        <td colspan="4">Nenhum registro encontrado!</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}