{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
{{titulo}}
{% endblock %}

{% block topo %}
{% endblock %}

{% block topo2 %}
{% endblock %}

{% block conteudo %}
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Class Management</h1>
        <p class="lead">Faça o Login ou Registro para acessar o sistema.</</p>
      </div>
      <div class="container text-center">
        <h2>Login</h2>
        <p>user</p>
        <p>senha</p>
        <a href="/turmas"><input type="submit" value="Login" /></a>
        <p>Não possui um cadastro em nosso sistema? <a href="./cadastro">Clique aqui</a></p>
      </div>
      <br><br><br><br>
    </header>
{% endblock %}



{% block footer %}
{{ block.super }}
{% endblock %}

{% block scripts_js %}
{{ block.super }}
{% endblock %}
