{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
{{titulo}}
{% endblock %}

{% block menu %}
{{ block.super }}
{% endblock %}

{% block menu_index %}
{% endblock %}

{% block topo %}
{% endblock %}

{% block topo2 %}
{% endblock %}

{% block conteudo %}
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>Class Management</h1>
        <p class="lead">Logout realizado com sucesso!</p>
      </div>
      <div class="container text-center">

        <!-- Para organizar as coisas na tela, criamos linhas e colunas.
        Para centralizar essas colunas usamos a classe abaixo junto com row -->
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <div class="alert alert-warning" role="alert">
              <strong>Você será redirecionado para a página inicial em 5 segundos.</strong>

              <!-- Redireciona o usuário -->
              <meta http-equiv="refresh" content="5;URL={% url 'index' %}">
            </div>
          </div>
        </div>
        <br>
      </div>
      <br><br><br><br>
    </header>
{% endblock %}



{% block footer %}
{{ block.super }}
{% endblock %}

{% block scripts_js %}
{{ block.super }}
{% endblock %}
