{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
{{titulo}}
{% endblock %}

{% block topo %}
{% endblock %}

{% block topo2 %}
{% endblock %}

{% block conteudo %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>{{titulo}}</h2>
        {% if turmas %}
        <div class="list">
          <div class="menu_list">
            <ul class="">
              <li><a href="/turmas/cadastrar">Criar uma turma</a></li>
            </ul>
          </div>
          <div class="list_array">
            <ul>
              {% for t in turmas %}
              <li>
                <a href="/turmas/{{t.id}}">
                <h1>{{t.nome}}</h1>
                <h2>{{t.colegio.nome}}</h2>
                <h3>Representante: {{t.representante.first_name}} {{t.representante.last_name}}</h3>
              </a>
              </li>
              {% endfor %}

            </ul>
          </div>
        </div>
        {% else %}
        <p>Você não está inserido em alguma turma.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
  {% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}

{% block scripts_js %}
{{ block.super }}
{% endblock %}
